.idea/
cmake-build-debug/

benchmark/**/jit/
benchmark/**/reference/
lib/**/

a.out
*.gch
other_data_jit.csv
other_data_reference.csv
time_data_jit.csv
time_data_reference.csv
temp_jit_compile_data.csv
temp_reference_compile_data.csv
